.items_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.name1{
    font-size: 15px;
}
.Image{
    height: 150px;
    width: 230px; 
}
.general{
    border: 3px black solid;
    margin-left:12px;
    margin-top: 12px;
    padding: 20px;
}
.weight{
    font-size: 15px;
}
.height{
    font-size: 15px;
}
.life_span{
    font-size: 15px;
}